.hero{
  font-family:"Roboto", serif;
  text-align: center;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1{
  line-height: 55px;
  font-size: 72px;
}

.hero h2{
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 40px;
}

.hero .landscape{
  color: white;
}

#Intro h1, h5{
  text-shadow: 0px 5px 5px;
  rgba(0, 0, 0, 0.25);
}

#Intro h5{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.cta{
  background-color:black;
  color:white;
  padding: 0;
  width:180px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta:hover{
  background-color: #00cfff;
}

#About{
  min-height: 0;

}

#About .left-col{
  color:#00E2AC;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
}

#About .right-col{
  text-align: right;
  padding: 20px;
}

#About .left-col h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 55px;
}

#About .right-col h5{
  font-size: 24px;
  line-height: 30px;
}

#Gallery{
  background-color: #EEFDF9;
  padding: 0;
  maring: 0;
}

#Gallery .col-md-4{
  overflow: hidden;
  padding: 0px 5px 10px 5px;
}

#Gallery .col-md-4 img{
  height: 100%;
  max-width: 390px;
  max-height: 380px;
}

.bridge{
  background-image: url("../img/bridge/full-width.jpg");
}

#Contact p{
  font-size: 24px;
  margin-bottom: 40px;
  max-width: 740px;
}

#Social{
  padding: 20px;
}

#Social a{
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

#Social img{
  height: 20px;
}

#Social img:hover{
  opacity: 0.5;
}

#Footer{
  height: 40px;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Footer a{
  color: black;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  margin-left: 5px;
  margin-right: 20px;
}

#Footer .footer-item{
  flex: 1;
  max-width: 100px;
}

.copyright{
  margin-left: auto;
  color: #00E2AC;
}

@media screen only and (max-width: 480px){
  #Intro{
    max-height: 640px;
  }
  .left-col h2{
    font-size: 42px;
    line-height: 40px;
  }
  #Footer{
    margin-left: 20px;
    margin-right: 20px;
  }
  #Footer h4{
    padding-right: 20px;
  }
}

@media screen only and (max-width: 992px){
  .row{
    width: 100%;
  }
  .col-md-4{
    width: 100%;
  }
  .col-md-4 img{
    width: 100%;
    max-width: 992px;
    max-height: 900px;
  }
}
